@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
input, textarea
  outline: none
  &:focus
    color: #7c7c7c
*
  margin: 0
  padding: 0
button
  @include reset-button
  cursor: pointer
a
  text-decoration: none
  color: #fff
a:hover
  text-decoration: underline
body
  min-width: 320px
  max-width: 1920px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: #000
  background-color: $white
  font-family: 'Titillium Web', sans-serif
  @include font(400,18px,27px)
  h1
    @include font(400,48px,73px)
  h2
    @include font(600,30px,55px)
  h3
    @include font(600,24px,55px)
  h4
    @include font(600,20px,55px)
img
  max-width: 100%
  height: auto
.hidden
  display: none !important
#main,#footer
  overflow: hidden
#header
  position: relative
#main,#footer,#header
  width: 100%
.btn
  border-radius: 45px
  text-align: center
  color: $white
  background-color: #F56338
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05)
  border: 1px solid transparent
  text-decoration: none
  width: 193px
  height: 47px
  line-height: 47px
  font-weight: bold
  text-transform: capitalize
  font-size: 14px
  transition: all 500ms ease-in-out
.btn:hover
  transform: scale(1.1)
  background-color: $white
  color: #F37049
  border: 1px solid $white
  text-decoration: none
.btn.btn-white
  background-color: transparent
  border: 1px solid #fff
.btn-white:hover
  background-color: $white
  color: #F37049
.subtitle
  text-align: center
.mobile-img,.paket-tab
  display: none
// containers
.container
  max-width: 1140px
  width: 100%
  margin: 0 auto
  padding-left: 25px
  padding-right: 25px
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  justify-content: space-between
//Header
.header
  position: fixed
  top: 0
  background: #FD773E
  left: 0
  right: 0
  padding: 20px 0
  z-index: 5
  &>.flex-container
    align-items: center
.nav-menu-item
  max-height: 30px
  a
    padding: 0 30px
.nav-menu-item:nth-of-type(2)
  border-left: 2px solid #FFFFFF
  border-right: 2px solid #FFFFFF
//First block
.first-block
  background: url("../img/_src/first-block/First-screen-block.jpg") no-repeat #FD773E
  background-size: cover
  background-position: center
  height: 955px
  position: relative
  .title
    padding-top: 200px
    color: $white
    max-width: 723px
  .btn-more
    width: 277px
    height: 71px
    line-height: 71px
    font-size: 24px
    margin-top: 50px
.first-block-text
  max-width: 365px
  font-size: 24px
  line-height: 37px
  color: #FFEC02
.first-block-item
  width: 100%
.first-block-item:last-of-type
  display: none
.computer
  position: absolute
  right: 0
  top: 95px
//Second Block
.second-block
  background: url('../img/_src/second-block/Second section.png') no-repeat center
  background-size: cover
  padding: 65px 0
  position: relative
  top: -95px
  z-index: 2
  .subtitle
    margin-top: 80px
.block-subtitle
  text-align: center
  font-size: 30px
  margin-bottom: 43px
.second-block-clock-item
  position: relative
.second-block-clock-item:nth-of-type(2)::before,.second-block-clock-item:nth-of-type(2)::after
  content: ':'
  position: absolute
  top: 40px
  font-size: 48px
.second-block-clock-item:nth-of-type(2)::before
  left: -26px
.second-block-clock-item:nth-of-type(2)::after
  right: -28px
.second-block-clock-time
  width: 327px
  height: 125px
  text-align: center
  line-height: 125px
  background: linear-gradient(180deg, #FFDF6C 48.96%, #FEB527 100%)
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
  border-radius: 15px
  font-weight: bold
  font-size: 48px
.second-block-clock-info-time
  text-align: center
  margin-top: 20px
// Third block
.third-block
  background: url('../img/_src/third-block/Thirdsection.png') no-repeat center
  background-size: 100%
  margin-top: -190px
  padding: 82px 0
.third-block-container
  margin-top: 25px
.third-block-item:first-of-type
  width: 55%
  z-index: 1
.third-block-item:last-of-type
  width: 45%
.third-block-info
  padding: 30px 70px
  background: #F3F5FB
  border-radius: 124.5px
  margin-bottom: 15px
  margin-left: -10px
  position: relative
.third-block-info:nth-of-type(1)
  left: -1px
.third-block-info:nth-of-type(2)
  left: 5px
.third-block-info:nth-of-type(3)
  left: -10px
.third-block-info-title
  color: #F26322
  font-weight: bold
  font-size: 22px
  margin-bottom: 18px
  margin-top: 0
.third-block-info-text
  font-size: 18px
  line-height: 27px
  color: #000
  span
    display: block
//Fourth Block
.multiply-block
  background: top center/100% no-repeat url("../img/_src/fourth-block/Fourthsection.png")
.diagrama-container
  width: 468px
  height: 538px
  margin: 0 auto
  background: center/cover no-repeat url("../img/_src/fourth-block/diagram.png"), center/40% no-repeat url('../img/_src/fourth-block/magentoone1.png')
  position: relative
.diagrama-item
  font-weight: bold
  font-size: 12px
  color: $white
  position: absolute
  line-height: 18px
.diagrama-item:first-of-type
  top: 75px
  left: 145px
  max-width: 96px
.diagrama-item:nth-of-type(2)
  top: 136px
  left: 330px
  max-width: 96px
.diagrama-item:nth-of-type(3)
  top: 354px
  left: 318px
  max-width: 96px
.diagrama-item:nth-of-type(4)
  top: 395px
  left: 145px
  max-width: 85px
.diagrama-item:nth-of-type(5)
  top: 236px
  left: 29px
  max-width: 85px
//Fifth block
.fifth-block
  position: relative
.rocket
  position: absolute
  top: 0
  right: 0
  width: 25%
.fifth-block-list-item
  display: flex
  align-items: center
  margin-bottom: 50px
  position: relative
  z-index: 1
  &::before
    content: ''
    display: inline-block
    padding: 10px 25px
    line-height: 78px
    font-size: 48px
    font-weight: bold
    background: center/100% no-repeat url('../img/_src/firth-block/Vector.png')
    color: $white
    margin-right: 30px
  .fifth-block-list-title
    margin-top: 0
    font-size: 22px
    line-height: 33px
    color: #F56338
  .fifth-block-list-text
    width: 90%
    font-size: 18px
    color: #3D3D3E
.fifth-block-list-item:nth-of-type(2n+2)
  margin-left: 65px
.fifth-block-list-item:nth-of-type(1)::before
  content: '1'
.fifth-block-list-item:nth-of-type(2)::before
  content: '2'
.fifth-block-list-item:nth-of-type(3)::before
  content: '3'
.fifth-block-list-item:nth-of-type(4)::before
  content: '4'
.fifth-block-list-item:nth-of-type(5)::before
  content: '5'
.fifth-block-list-item:nth-of-type(6)::before
  content: '6'
.fifth-block-list-item:nth-of-type(7)::before
  content: '7'
//sixth-block
.sixth-block
  background: top center/100% no-repeat url('../img/_src/sixth-block/sixthsection.png')
  padding-top: 155px
  margin-top: -110px
  padding-bottom: 260px
.packets-item
  background: #FFFFFF
  border: 1px solid #E6E8EE
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05)
  border-radius: 38px
  padding: 20px
  text-align: center
.packets-item:nth-of-type(2)
  margin: 0 32px
.packet-title
  margin-top: 0
  color: #F27C59
.packet-img
  margin-bottom: 30px
  height: 90px
.packet-list
  line-height: 30px
  font-size: 14px
  color: #3D3D3E
.packet-list-item
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 15px
  span
    width: fit-content
//.packets-item:last-of-type
//  .packet-list
//    margin-top: 115px
.packet-list-item::before
  content: ''
  display: block
  width: 3px
  height: 3px
  border-radius: 50%
  background: #F27C59
  margin-right: 5px
.packet-list-item.big-text
  align-items: flex-start
  &::before
    margin-top: 14px
.btn-white.btn-price
  font-weight: bold
  color: #3D3D3E
  border: 1px solid #F56338
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05)
  margin-bottom: 30px
.btn-white.btn-price:hover
  background-color: #F56338
  color: #fff
.info
  background:  center/100% no-repeat url("../img/_src/sixth-block/info.png")
  margin-top: 70px
  padding: 42px 0
  text-align: center
  font-size: 16px
//Seven Block
.seven-block
  margin-top: -145px
.advantages-list-item
  background: #F56338
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
  border-radius: 15px
  max-width: 212px
  padding: 33px 21px
  text-align: center
  color: $white
  font-weight: bold
  line-height: 30px
  margin-right: 10px
  font-size: 17px
  strong
    display: block
    font-size: 32px
.case-slider-item
  width: 249px
.case-slider
  max-width: 790px
  margin: 0 auto
  .slick-track
    padding: 20px 0
  .slick-active
    width: 249px
    height: 411px
//Eeight block
.eight-block-bottom-content
  margin-left: 66px
  padding-top: 50px
.eigth-block-bottom
  .btn-more
    position: relative
    p
      transition: .3s all ease
    .fill
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 0%
      background: #8e44ad
      border-radius: 50px
    .fa
      font-size: 25px
      color: white
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      line-height: 50px
      -webkit-transform: scale(0)
      -ms-transform: scale(0)
      transform: scale(0)
  .btn-more.clicked
    padding: 0
    p
      max-height: 0
      overflow: hidden
    .fill
      width: 100%
      transition: 2s all ease .6s
  .btn-more.success
    margin: 0
    padding: 25px
    width: 50px
    .fa
      transform: scale(1)
      transition: .3s all ease .3s
.second-multiply
  background: top center/100% no-repeat url('../img/_src/eigth-block/Eightsection.png')
//FAQ
.nine-block
  background: top center/100% no-repeat url('../img/_src/nine-block/Ninesection.png')
  padding-top: 200px
  margin-top: -150px
.faq-item
  width: 50%
  .collapsible-header
    font-size: 18px
    align-items: center
    margin-bottom: 40px
.faq-dec
  color: #F56338
.faq-tab
  border: none
  box-shadow: none
  .collapsible-body
    padding-right: 0
.faq-tab-item.active
  .faq-arrow
    transform: rotate(-180deg)
.faq-arrow
  display: block
  width: 15px
  height: 10px
  background: center/100% no-repeat url('../img/icons/array-bottom.svg')
  transition: all 500ms ease-in-out
.faq-item:last-of-type
  position: relative
  .chat
    display: block
    width: 90px
    height: 90px
    border: 1px solid #F56338
    font-weight: 600
    font-size: 18px
    color: #4E4E4F
    border-radius: 50%
    text-align: center
    line-height: 90px
    margin: 0 auto
    margin-top: 25%
.footer-info
  position: relative
.footer-info-bg
  width: 100%
  height: 242px
  background: center/100% no-repeat url('../img/_src/nine-block/oftenquestions.png')
  margin-top: -210px
//Popup
.popup-container
  position: fixed
  z-index: 5
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #000000ad
  display: none
  &>.flex-container
    justify-content: center
    align-items: center
    height: 100%
.popup
  background-color: $white
  padding: 20px
  max-width: 420px
  width: 90%
  border-radius: 15px
  position: relative
.close-popup
  position: absolute
  top: 20px
  right: 20px
  display: block
  width: 20px
  height: 20px
  text-align: center
  line-height: 20px
  cursor: pointer
.popup-title
  margin: 20px auto
  text-align: center
  width: max-content
  &::after
    content: ''
    display: block
    width: 100%
    height: 3px
    margin: 0 auto
    background-color: #5cd3b4
.btn-submit
  margin: 0 auto
  display: block
@import "media"